
@font-face {
    font-family: 'code_pro_bold_lcregular';
    src: url('fonts/ext/code-pro-bold-lc-webfont.eot');
    src: url('fonts/ext/code-pro-bold-lc-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ext/code-pro-bold-lc-webfont.woff2') format('woff2'),
         url('fonts/ext/code-pro-bold-lc-webfont.woff') format('woff'),
         url('fonts/ext/code-pro-bold-lc-webfont.ttf') format('truetype'),
         url('fonts/ext/code-pro-bold-lc-webfont.svg#code_pro_bold_lcregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'code_pro_black_lcregular';
    src: url('fonts/ext/code-pro-black-lc-webfont.eot');
    src: url('fonts/ext/code-pro-black-lc-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ext/code-pro-black-lc-webfont.woff2') format('woff2'),
         url('fonts/ext/code-pro-black-lc-webfont.woff') format('woff'),
         url('fonts/ext/code-pro-black-lc-webfont.ttf') format('truetype'),
         url('fonts/ext/code-pro-black-lc-webfont.svg#code_pro_black_lcregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'code_pro_blackregular';
    src: url('fonts/ext/code-pro-black-webfont.eot');
    src: url('fonts/ext/code-pro-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ext/code-pro-black-webfont.woff2') format('woff2'),
         url('fonts/ext/code-pro-black-webfont.woff') format('woff'),
         url('fonts/ext/code-pro-black-webfont.ttf') format('truetype'),
         url('fonts/ext/code-pro-black-webfont.svg#code_pro_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'code_pro_demoregular';
    src: url('fonts/ext/code-pro-demo-webfont.eot');
    src: url('fonts/ext/code-pro-demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ext/code-pro-demo-webfont.woff2') format('woff2'),
         url('fonts/ext/code-pro-demo-webfont.woff') format('woff'),
         url('fonts/ext/code-pro-demo-webfont.ttf') format('truetype'),
         url('fonts/ext/code-pro-demo-webfont.svg#code_pro_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'code_pro_lcregular';
    src: url('fonts/ext/code-pro-lc-webfont.eot');
    src: url('fonts/ext/code-pro-lc-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ext/code-pro-lc-webfont.woff2') format('woff2'),
         url('fonts/ext/code-pro-lc-webfont.woff') format('woff'),
         url('fonts/ext/code-pro-lc-webfont.ttf') format('truetype'),
         url('fonts/ext/code-pro-lc-webfont.svg#code_pro_lcregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'code_proregular';
    src: url('fonts/ext/code-pro-webfont.eot');
    src: url('fonts/ext/code-pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ext/code-pro-webfont.woff2') format('woff2'),
         url('fonts/ext/code-pro-webfont.woff') format('woff'),
         url('fonts/ext/code-pro-webfont.ttf') format('truetype'),
         url('fonts/ext/code-pro-webfont.svg#code_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'code_pro_lightregular';
    src: url('fonts/ext/code-pro-light-webfont.eot');
    src: url('fonts/ext/code-pro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ext/code-pro-light-webfont.woff2') format('woff2'),
         url('fonts/ext/code-pro-light-webfont.woff') format('woff'),
         url('fonts/ext/code-pro-light-webfont.ttf') format('truetype'),
         url('fonts/ext/code-pro-light-webfont.svg#code_pro_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'code_pro_light_lcregular';
    src: url('fonts/ext/code-pro-light-lc-webfont.eot');
    src: url('fonts/ext/code-pro-light-lc-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ext/code-pro-light-lc-webfont.woff2') format('woff2'),
         url('fonts/ext/code-pro-light-lc-webfont.woff') format('woff'),
         url('fonts/ext/code-pro-light-lc-webfont.ttf') format('truetype'),
         url('fonts/ext/code-pro-light-lc-webfont.svg#code_pro_light_lcregular') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'code_pro_light_demoregular';
    src: url('fonts/ext/code-pro-light-demo-webfont.eot');
    src: url('fonts/ext/code-pro-light-demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ext/code-pro-light-demo-webfont.woff2') format('woff2'),
         url('fonts/ext/code-pro-light-demo-webfont.woff') format('woff'),
         url('fonts/ext/code-pro-light-demo-webfont.ttf') format('truetype'),
         url('fonts/ext/code-pro-light-demo-webfont.svg#code_pro_light_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
	font-family: Rockwell;
	src: url('fonts/Rockwell.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
	font-family: Rockwell-Bold;
	src: url('fonts/Rockwell-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}


@font-face {
	font-family: Rockwell-Italic;
	src: url('fonts/Rockwell-Italic.ttf')  format('truetype'); /* Safari, Android, iOS */
}

body {
	min-height:100%;
}

button {
	outline:0;
}

h2 {
	font-family: 'code_pro_bold_lcregular';
    text-transform: uppercase;
    color: #fff;
    font-size: 56px;
}

h3 {
	font-size: 16px;
    font-family: 'Rockwell';
    color: #fff;
    margin:10px;
}

h4 {
	font-family: 'code_pro_lightregular';
    font-size: 30px;
    line-height:28px;
    margin:0;
}

h5 {
    font-size: 25px;
    line-height:25px;
    font-family: 'code_pro_bold_lcregular';
    margin:0;
    text-transform:uppercase;
}

h6 {
    font-size: 12px;
    font-family: 'Rockwell';
    color: #666;
    margin:7px 0 0;
}

#websiteOverlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    background-color:#f0f0f0;
    z-index: 10;
}

/*===========intro video==========*/
#introMovieVideo {
    position: absolute;
    width: 100%;
    top: 0;
    left:0;
    height: 100%;
    object-fit: fill;
}

#skipIntroBtn {
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
     -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    border: none;
    bottom: 10px;
    position: absolute;
    left: 20px;
    margin-right: -100px;
    opacity: 0;
    /* border: 2px solid #999; */
    color: #666;
    background-color: transparent;
    font-size: 18px;
    font-family:'code_pro_lightregular';
}

#skipIntroBtn.show {
  opacity:1;
}
.contact-link {
  text-decoration: none; 
  color: #333333;
}

button.pausePlayBtn {
    left: 50%;
    bottom: 20px;
    position: absolute;
    margin-left: 20px;
}

#sectionsWrapper {
	 height:100%;
	 position:relative;
}


.sectionVideo {
    width: 70%;
    padding-left:100px;
    padding-top:30px;
    padding-bottom:30px;
}

.sectionContainer {
/*    display: table-cell;
    vertical-align: middle;*/
    text-align: center;
}

#fullpage {
  z-index:100;
}

.section {
  background-repeat:no-repeat;
  background-color:transparent;
  position:relative;
}

.slideBackground {
  height:0;
  width:100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size:cover;
  background-attachment:fixed;
  -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
     -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

#slideBackground1 {
  z-index:1;
  height:100%;
  width:100%;
  background-color: #EBECEC;
 /* background-image: url(contact/backgroundimage4.jpg);
  background-size:cover;*/
}
#slideBackground2 {
  z-index:2;
  background-image: url(cocacola/backgroundimage.jpg);
}
#slideBackground3 {
  z-index:3;
  background-image: url(valspar/backgroundimage.jpg);
}
#slideBackground4 {
  z-index:4;
  background-image: url(salaam/backgroundimage.jpg);
}
#slideBackground5 {
  z-index:5;
  background-image: url(nivea/backgroundimage.jpg);  
}

#slideBackground6 {
  z-index:6;
  background-image: url(utec/backgroundimage.jpg);
}
#slideBackground7 {
  z-index:7;
  background-image: url(engen/backgroundimage.jpg);
}

#slideBackground8 {
  z-index:8;
  background-image: url(cna/backgroundimage.jpg);
}
#slideBackground9 {
  z-index:9;
  background-image: url(sky/backgroundimage.jpg);
}
#slideBackground10 {
  z-index:10;
  background-image: url(spca/backgroundimage.jpg);
}

#slideBackground11 {
  z-index:11;
  background-image: url(contact/backgroundimage4.jpg);
  /*background-color: #f0f0f0;*/
}

#backgroundImagesDiv {
  position: absolute;
  left: 0;
  top:0;
  height:100%;
  width:100%;
}


.sectionLogo {
	width:180px;
	margin:30px;
}

#niveaSection .sectionLogo, #skySection .sectionLogo {
  margin:0;
}

.videoSidebar {
	  padding-top:20px;  
	  text-align:left;
    width: 273px;
    overflow:hidden;
}

.videoImageWrapper {
	margin-top:15px;
	position:relative;
	display:table;
	width:100%;
	/*opacity:0;*/
}


.videoImageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    display: table;
    text-align: center;
    height: 154px;
}

.videoSidebar img {
    height:155px;
}

.displayTableCell {
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.3);
}

.slideUp {
	-webkit-transform: translate3d(0, -100%,0);
  -moz-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
      -ms-transform: translate3d(0, -100%, 0);
	transform: translate3d(0,-100%,0);
}

.heightUp {
	height:100%;
}

#introSectionWrapper {
	 width: 404px;
    position: fixed;
    right: 50px;
    top: 50px;
    background-color: #fff;
    z-index: 300;
}

#introSection {
    background-color: #fff;
}

#cutCornerImage {
	position: absolute;
    bottom: -68px;
    width: 100%;
    left: 0;
}
#sidebar1 {
	z-index:20;
}

/*#niveaSidebar {
	z-index:19;
}*/

.sidebarContainer {
	-webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
     -o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	position: absolute;
    left: 65px;
    top: 55px;
    right: 65px;
}

#sidebar1 .topTextSidebar {
	opacity:1;
}

.topTextSidebar {
	text-align:left;
	opacity:0;
}

.showSidebar .topTextSidebar {
	opacity:1;
}

.hideSidebar .topTextSidebar {
	opacity:0;
}

.showSidebar {
	opacity:1 !important;
	z-index:21 !important;
}
.hideSidebar {
	opacity:0 !important;
	z-index:19;
}

.showSidebar .videoImageWrapper {
	opacity:1;
	-webkit-transition: all 1.5s ease-out 0.5s;
     -moz-transition: all 1.5s ease-out 0.5s;
    -ms-transition: all 1.5s ease-out 0.5s;
     -o-transition: all 1.5s ease-out 0.5s;
	transition: all 1.5s ease-out 0.5s;
}


.hideSidebar .videoImageWrapper {
	opacity:0;
	-webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
     -o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.videoSidebar .drawRectangularBtn {
	height:50px;
	line-height:50px;
	width:150px;
	font-size:11px;
	margin-top:0;
}

.arrowDown{
    position: absolute;
    bottom: 0;
    left: 65px;
    font-size: 50px;
    margin-left: -16px;
    cursor: pointer;
    color: #fff;
}

#spcaSection span {
    color: #fff;
    font-size: 14px;
    font-family: 'Rockwell';
}

/*========contact page============*/
.contact {
    margin-bottom: 20px;
}

#sidebar11 h5 {
    font-size: 20px;
    line-height: 24px;
}

#contactSection .sectionContainer {
  position:relative;
  height:100%;
}

#poem, #contactsDiv {
  margin:0 auto;
  text-align:center;
  position:absolute;
  top:60%;
  left: 0;
  width: 100%;
  padding:0 10px;
}

#poem {
  z-index:100;
}

#contactsDiv {
  opacity:0;
  z-index:1;
}


#poem p {
  font-size:26px;
  margin:0;
  font-family: code_pro_lcregular;
}

#contactSection h2 {
  color: #000;
  margin-top:0;
  margin-bottom:50px;
  font-family: 'code_pro_lightregular';
}

#sidebar11 h3 {
  font-family: 'code_pro_lightregular';
  font-size:56px;
  color:#000;
  margin: 0 0 50px;
}

.lineBreak {
    margin-bottom: 20px;
}

.contact {
  opacity:0;
}

#contactsDiv.fadeinInTurn {
  opacity:1;
  z-index:100;
  top:50%;
      -webkit-transition: all 0.5s ease-out;
     -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
     -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#contactsDiv.fadeOut {
  opacity:0;
  z-index:1;
  top:60%;
      -webkit-transition: all 0.2s ease-out;
     -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
     -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#contactsDiv.fadeinInTurn .contact:nth-child(1) {
  opacity:1;
    -webkit-transition: all 0.5s ease-out;
     -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
     -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#contactsDiv.fadeinInTurn .contact:nth-child(2) {
  opacity:1;
    -webkit-transition: all 0.5s ease-out 0.5s;
     -moz-transition: all 0.5s ease-out 0.5s;
    -ms-transition: all 0.5s ease-out 0.5s;
     -o-transition: all 0.5s ease-out 0.5s;
  transition: all 0.5s ease-out 0.5s;
}

#contactsDiv.fadeinInTurn .contact:nth-child(3) {
  opacity:1;
    -webkit-transition: all 0.5s ease-out 1s;
     -moz-transition: all 0.5s ease-out 1s;
    -ms-transition: all 0.5s ease-out 1s;
     -o-transition: all 0.5s ease-out 1s;
  transition: all 0.5s ease-out 1s;
}

#poem.fadeinInTurn {
  opacity:1;
    -webkit-transition: all 0.5s ease-out;
     -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
     -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  top:50%;
}

#poem.fadeOut {
  opacity:0;
  z-index:1;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  top:60%;
}



#contactsDiv h3 {
    font-family: 'code_pro_lightregular';
    font-size: 44px;
    margin-bottom: 100px;
    color: #000;
}

#contactSection .drawRectangularBtn {
  margin-top:100px;
}

#contactSection .sectionVideo {
  width: 100%;
  height:100%;
}

#breadcrumbBar {
	 position: fixed;
    left: 0px;
    top: 0%;
    z-index: 500;
    background-color: #fff;
    height: 100%;
    padding: 0 15px;
    font-family: 'code_pro_lightregular';
    width:100px;
    display:none;
}

#navbarContainer {
  display: table-cell;
  vertical-align: middle;
}

.circle {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 12px;
    left: 12px;
}

.selectedCircle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    position:relative;
    border:none;
    margin:10px 0;
    -webkit-transition: all 0.5s ease-out;
       -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
     -o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	/*cursor:pointer;*/
}


#movingCircle {
    position: absolute;
    border:1px solid rgba(255,255,255,0.5);
    left: 0;
    top: 0;
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
     -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navItem {
  margin-bottom:15px;
      -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
     -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

/*#circle11 {
    margin-top: 40px;
}*/

.current {
  font-family: 'code_proregular';
}


#leftLogo {
      width: 126px;
}

#rightLogo {
    margin:20px 5px;
}


/*videos*/

#videoWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display:none;

/*            -webkit-transition: all 0.5s ease-out;
       -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
     -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;*/
}

#videoWrapper.show {
    display:block;
    opacity:1;
}

.fullPageVideo {
    background-color:#fff;
    position:relative;
    height:100%;
}

video {
    position: absolute;
    width: 100%;
    bottom: 50px;
    height: 90%;
}

.videoOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 100;
    display:none;
    opacity:0;
        -webkit-transition: all 0.5s ease-out;
       -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
     -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.displayTableCell {
  display: table-cell;
  vertical-align:middle;
  text-align:center;
}

/*.fullPageVideo:hover .videoOverlay {
  display:table-cell;
}*/

.videoControl {
    color: #fff;
    border: 1px solid rgba(255,255,255,0.3);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -35px;
}

.videoControl i {
    font-size: 20px;
    color: #fff;
    margin-top: 25px;
    color: rgba(255,255,255,0.3);
    /* margin: 25px auto; */
    margin-left: 29px;
}

#playBtn {
  display:none;
}

#playControl {
  display: none;
}

.closeIcon {
  color:#8c8c8c;
  position:absolute;
  right:30px;
  top:30px;
  font-size:30px;
  cursor:pointer;
  z-index:500;
}

.videoSectionWrapper {
  display:none;
}

.videoSectionWrapper video {
  display:none;
}

/*.videoSectionWrapper video:first-child {
  display:block;
}*/

.nextVideosWrapper {
    text-align: center;
    display:none;
}

.nextVideoImageHolder {
    position: relative;
    width: 276px;
    display:inline-block;
    margin:0 10px;
}

.nextVideoImageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 153px;
    background-color: rgba(0,0,0,0.3);
}

.videoOverlay .drawRectangularBtn {
    height: 50px;
    line-height: 50px;
    width: 150px;
    font-size: 11px;
    margin-top: 51.5px;
}

.videoLogo {  
  margin-bottom: 50px;
  width:180px;
}

.videoOverlay .closeIcon {
  color:#fff;
  z-index:501;
}

.videoOverlay h6 {
    font-size: 16px;
    color: #fff;
    margin: 15px 0 0;
}

.videoOverlay h2 {
    font-family: 'code_pro_lightregular';
    font-size: 40px;
}



/*button drawing rectangular*/
.drawRectangularBtn {
    border: 2px solid rgba(255,255,255,0.2);
    height: 70px;
    line-height: 70px;
    padding: 0 10px;
    width: 200px;
    text-align: center;
    font-size: 14px;
    position: relative;
    background-color: transparent;
    font-family: 'code_pro_bold_lcregular';
    color: #fff;
    margin-top:30px;
    letter-spacing: 0.5px;
}

.black.drawRectangularBtn {
  border:2px solid #999;
  color:#000;
}

.btnTop, .btnRight, .btnBottom, .btnLeft {
	opacity:0;
}

.drawRectangularBtn:hover {
	border:2px solid transparent;
}
.black.drawRectangularBtn:hover {
  border:2px solid transparent !important;
}

.drawRectangularBtn:hover .btnTop {
	position:absolute;
	left:0;
	top:0;
	height:2px;
	background-color: #fff;
	-webkit-animation: animateWidth 0.2s forwards; /* Safari 4+ */
  -moz-animation:    animateWidth 0.2s forwards; /* Fx 5+ */
  -o-animation:      animateWidth 0.2s forwards; /* Opera 12+ */
  animation:         animateWidth 0.2s forwards; /* IE 10+, Fx 29+ */
}

.black.drawRectangularBtn:hover .btnTop {
  background-color:#000;
}

@-webkit-keyframes animateWidth {
  0%   { opacity: 0; width:0;}
  100% { opacity: 1; width:100%;}
}
@-moz-keyframes animateWidth {
  0%   { opacity: 0; width:0;}
  100% { opacity: 1; width:100%;}
}
@-o-keyframes animateWidth {
  0%   { opacity: 0; width:0;}
  100% { opacity: 1; width:100%;}
}
@keyframes animateWidth {
  0%   { opacity: 0; width:0;}
  100% { opacity: 1; width:100%;}
}

.black.drawRectangularBtn:hover .btnRight {
  background-color: #000;
}
.drawRectangularBtn:hover .btnRight {
	position:absolute;
	right:0;
	top:0;
	width:2px;
	background-color: #fff;
	-webkit-animation: animateDown 0.2s 0.2s forwards; /* Safari 4+ */
  	-moz-animation:    animateDown 0.2s 0.2s forwards; /* Fx 5+ */
  	-o-animation:      animateDown 0.2s 0.2s forwards; /* Opera 12+ */
  	animation:         animateDown 0.2s 0.2s forwards; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes animateDown {
  0%   { opacity: 0; height:0;}
  100% { opacity: 1; height:100%;}
}
@-moz-keyframes animateDown {
  0%   { opacity: 0; height:0;}
  100% { opacity: 1; height:100%;}
}
@-o-keyframes animateDown {
  0%   { opacity: 0; height:0;}
  100% { opacity: 1; height:100%;}
}
@keyframes animateDown {
  0%   { opacity: 0; height:0;}
  100% { opacity: 1; height:100%;}
}

.black.drawRectangularBtn:hover .btnBottom  {
  background-color:#000;
}
.drawRectangularBtn:hover .btnBottom {
	position:absolute;
	right:0;
	bottom:0;
	height:2px;
	background-color: #fff;
	-webkit-animation: animateWidth 0.2s 0.4s forwards; /* Safari 4+ */
  	-moz-animation:    animateWidth 0.2s 0.4s forwards; /* Fx 5+ */
  	-o-animation:      animateWidth 0.2s 0.4s forwards; /* Opera 12+ */
  	animation:         animateWidth 0.2s 0.4s forwards; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes animateWidth {
  0%   { opacity: 0; width:0;}
  100% { opacity: 1; width:100%;}
}

@-moz-keyframes animateWidth {
  0%   { opacity: 0; width:0;}
  100% { opacity: 1; width:100%;}
}
@-o-keyframes animateWidth {
  0%   { opacity: 0; width:0;}
  100% { opacity: 1; width:100%;}
}
@keyframes animateWidth {
  0%   { opacity: 0; width:0;}
  100% { opacity: 1; width:100%;}
}

.black.drawRectangularBtn:hover .btnLeft {
  background-color: #000;
}
.drawRectangularBtn:hover .btnLeft {
	position:absolute;
	left:0;
	bottom:0;
	width:2px;
	background-color: #fff;
	-webkit-animation: animateDown 0.2s 0.6s forwards; /* Safari 4+ */
  	-moz-animation:    animateDown 0.2s 0.6s forwards; /* Fx 5+ */
  	-o-animation:      animateDown 0.2s 0.6s forwards; /* Opera 12+ */
  	animation:         animateDown 0.2s 0.6s forwards; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes animateDown {
  0%   { opacity: 0; height:0;}
  100% { opacity: 1; height:100%;}
}
@-moz-keyframes animateDown {
  0%   { opacity: 0; height:0;}
  100% { opacity: 1; height:100%;}
}
@-o-keyframes animateDown {
  0%   { opacity: 0; height:0;}
  100% { opacity: 1; height:100%;}
}
@keyframes animateDown {
  0%   { opacity: 0; height:0;}
  100% { opacity: 1; height:100%;}
}


@media screen and (max-width:1500px) {
  .sectionLogo {
      width: 160px;
  }

  h2, #sidebar11 h3 {
    font-size:48px;
  }

  #introSectionWrapper {
    right: 30px;
    top: 30px;
  }

/*  #breadcrumbBar {
    left:30px;
  }*/

  .arrowDown {
    left:45px;
  }

}

@media screen and (max-width:1360px) {
  .sectionLogo {
      width: 140px;
  }

  #leftLogo {
    width: 110px;
  }

  h2, #sidebar11 h3, #contactSection h2 {
    font-size:42px;
    margin-bottom:30px;
  }

  .lineBreak {
    margin-bottom:15px;
  }

  .sectionVideo {
    width: 65%;
  }
}

@media screen and (max-width: 1260px) {
    /*sidebar*/
    #introSectionWrapper {
      width: 335px;
    }

    .sidebarContainer {
      left: 50px;
      top: 50px;
      right: 50px;
    }

    h4 {
      font-size: 26px;
      line-height: 24px;
    }

    h5 {
      font-size: 28px;
      line-height: 26px;
    }

  
    .videoSidebar {
      width: 235px;
    }

    .videoImageOverlay {
      height:130px;
    }

    .videoSidebar img {
      height: 130px;
    }

    #cutCornerImage {
      bottom: -56px;
    }

    .videoSidebar .drawRectangularBtn {
      width:130px;
    }

    .videoSidebar {
      padding-top: 10px;
    }

    h6 {
      font-size: 11px;
    }

    #sidebar11 h5 {
      font-size: 16px;
      line-height: 20px;
    }
}

@media screen and (max-width:1100px) {
    h2, #sidebar11 h3, #contactSection h2 {
      font-size: 34px;
    }
    .sectionVideo {
      width: 60%;
    }

    .sectionLogo {
      width: 120px;
    }

    #leftLogo {
      width: 90px;
    }
    #poem p {
      font-size: 15px;
    }

    #sideBar11 h4 {
      font-size: 22px;
    }
}

@media screen and (max-width:992px) {
  .sectionVideo {
    width: 55%;
  }

  #poem p {
    font-size: 12px;
  }

  #introSectionWrapper {
      right: 20px;
      top: 20px;
  }

  .sidebarContainer {
    left: 40px;
    top: 40px;
    right: 40px;
  }

  h5 {
    font-size: 26px;
    line-height: 24px;
  }

  .videoSidebar {
    width: 216px;
  }
  .videoImageOverlay {
    height: 120px;
  }
  .videoSidebar img {
    height: 120px;
  }

  #introSectionWrapper {
    width: 296px;
  }
  #cutCornerImage {
    bottom: -50px;
  }
/*  #breadcrumbBar {
    left: 20px;
  }*/

  .arrowDown {
    left:35px;
  }

/*  .sectionVideo {
    padding-left: 70px;
  }*/

  h2, #sidebar11 h3, #contactSection h2 {
      font-size: 34px;
      margin-bottom: 20px;
  }

   .lineBreak {
      margin-bottom: 10px;
  }

  #poem p {
      font-size: 11px;
  }

  #spcaSection span {
    display:block;
  }

  #leftLogo, #rightLogo {
    margin:10px;
  }

}

@media screen and (max-width:768px) {
  #cutCornerImage {
    bottom: -49px;
  }
}


/*=======================height media queries====================*/
@media screen and (max-height: 920px) {
     /*sidebar*/

    #introSectionWrapper {
      width: 348px;
    }

    .sidebarContainer {
      left: 50px;
      top: 50px;
      right: 50px;
    }

    h4 {
      font-size: 26px;
      line-height: 24px;
    }

    h5 {
      font-size: 23px;
      line-height: 23px;
    }
  
    .videoSidebar {
      width: 235px;
    }

    .videoImageOverlay {
      height:130px;
    }

    .videoSidebar img {
      height: 130px;
    }

    #cutCornerImage {
      bottom: -59px;
    }

    .videoSidebar .drawRectangularBtn {
      width:130px;
    }

    .videoSidebar {
      padding-top: 10px;
    }

    h6 {
      font-size: 11px;
    }

}

@media screen and (max-height:820px) {
  #introSectionWrapper {
    right: 20px;
    top: 20px;
  }

  .sidebarContainer {
    top: 30px;
  }

  .videoSidebar {
     padding-top: 0;
  }

  h4 {
    font-size: 24px;
    line-height: 22px;
  }

  .lineBreak {
    margin-bottom: 10px;
  }

}

@media screen and (max-height:720px) {
    #introSectionWrapper {
      width: 298px;
  }

  .videoSidebar {
    width: 198px;
  }

  .videoImageOverlay {
    height: 110px;
  }

  .videoSidebar img {
      height: 110px;
  }

  #cutCornerImage {
    bottom: -50px;
 }

 .videoSidebar .drawRectangularBtn {
    width: 110px;
    font-size: 10px;
  }

  .videoImageWrapper {
    margin-top: 11px;
  }

  h4, h5 {
    font-size: 18px;
    line-height: 20px;
  }

  #sidebar11 h5 {
    font-size: 14px;
    line-height: 18px;
  }

}



@media screen and (max-height:660px) {
  h2, #sidebar11 h3, #contactSection h2 {
    margin-bottom: 18px;
  }

  #poem p {
    font-size: 18px;
  }
}

@media screen and (max-height:600px){
  .lineBreak {
    margin-bottom: 6px;
  }

  #introSectionWrapper {
    right: 5px;
    top: 5px;
  }

  h4, h5 {
    font-size: 15px;
    line-height: 18px;
  }

  .sidebarContainer {
    top: 20px;
  }

  .videoSidebar {
    width: 162px;
  }

  .videoImageOverlay {
    height: 90px;
  }

  .videoSidebar img {
    height: 90px;
  }

  #introSectionWrapper {
    width: 262px;
 }
   #cutCornerImage {
      bottom: -44px;
  }
}










